body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 120px;
    font-family: monospace;
}
#reload-page {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
#color-code {
    cursor: pointer;
}
#notification {
    display: none;
    position: absolute;
    font-size: large;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
}
